/vendor/
/node_modules/
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.phpunit.result.cache
/build/
/reports/
*.tgz
*.tar.gz
*.log